@import "src/scss/variables";

.content-page {
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 180px;
}

.container-image {
  overflow: hidden;
  height: 850px;
  z-index: -1;
}

img {
  position: relative;
  bottom: 150px;
  opacity: 0.5;
}

.presentation-text {
  width: 40%;
}

app-login {
  width: 25%;
}

h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: $color-blue-dark;
}

p {
  font-size: 22px;
  color: $color-main-blue;
}
