<div class="page">
  <div class="container-image">
    <img src="assets/images/home/home_background.jpg" alt="Photo de couverture">
  </div>


  <div class="content-page">
    <!--  Presentation text-->
    <div class="presentation-text">
      <h1>Trouvez la résidence qui vous correspond.</h1>
      <p>Homaï Home met en relation des propriétaires souhaitant louer leur résidence et des particuliers cherchant un
        logement pour de longues ou courtes durées. </p>
    </div>
    <!--  Connection component-->
    <app-login></app-login>
  </div>

</div>
