<div class="content">
  <h2>Inscription</h2>

  <form action="">
    <label for="firstName">Prénom</label>
    <input id="firstName" type="text">

    <label for="lastName">Nom</label>
    <input id="lastName" type="text">

    <label for="email">Email</label>
    <input id="email" type="text">

    <label for="password">Mot de passe</label>
    <input id="password" type="text">

    <label for="birthDate">Date de naissance</label>
    <input id="birthDate" type="text">

    <label for="address">Adresse</label>
    <input id="address" type="text">

    <button>S'inscrire</button>
  </form>
</div>
