
<form class="col-lg-4 offset-4">

  <label for="realEstateName">Nom du bien</label>
  <input type="text" class="form-control" id="realEstateName">

  <label for="type"></label>
  <select name="type" id="type">
    <option value="">--Please choose an option--</option>
    <option value="dog">Appartement</option>
    <option value="cat">Maison</option>
    <option value="cat">Auberge</option>
    <option value="cat">Villa</option>
  </select>

  <label for="description">Description</label>
  <input type="text" class="form-control" id="description">

  <label for="price">Prix</label>
  <input type="text" class="form-control" id="price">

  <label for="photo">Ajouter une photo</label>
  <input type="text" class="form-control" id="photo">

  <button type="submit" class="btn btn-success">
    Enregistrer</button>
</form>
