<div class="page">
  <div class="content-page">
    <h1>Factures</h1>
    <section>
      <h2>Liste des factures</h2>
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>
            <div class="label-icon">
              <div>Objet</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Émis le</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Payé le</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Montant hors TVA</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Montant avec TVA</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Statut</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Villa Massaï</td>
          <td>01-07-2021</td>
          <td>14-07-2021</td>
          <td>144.16</td>
          <td>€ 199.21</td>
          <td><span class="ticket">Payé</span></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Villa Massaï</td>
          <td>01-07-2021</td>
          <td>Non payé</td>
          <td>144.16</td>
          <td>€ 199.21</td>
          <td><span class="ticket bg-error">Non payé</span></td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
