.current-reservation {
  margin-bottom: 50px;
}

.reservation {
  display: flex;
  background-color: #daeccf;
  margin-bottom: 15px;
  cursor: pointer;
}

.real-estate {
  display: flex;
  margin-right: 50px;
}

.image-container {
  width: 250px;
}

.content-text {
  padding: 20px;
}

.label {
  color: #9a9a98;
}
