<h2 >Que souhaitez-vous louer ?</h2>

<form class="box-shadow" [formGroup]="catalogForm" (ngSubmit)="onSearch()">


  <div class="form-group">
    <label for="re-type">Type d'immobilier</label>
    <select id="re-type" formControlName="type">
      <option value="all" selected>Tous</option>
      <option value="appartment">Appartement</option>
      <option value="house">Maison</option>
      <option value="villa">Villa</option>
      <option value="hotel">Hôtel</option>
      <option value="hotel">Auberge</option>
    </select>
  </div>

  <div class="form-group">
    <label for="bedroom">Nombre de chambre</label>
    <input id="bedroom" type="text" formControlName="bedroom">
  </div>

  <div class="form-group">
    <label for="price">Fourchette de prix</label>
    <input id="price" type="text" formControlName="price">
  </div>

  <div class="form-group">
    <label for="country">Pays</label>
    <input id="country" type="text" formControlName="country">
  </div>

  <div class="form-group">
    <label for="city">Ville</label>
    <input id="city" type="text" formControlName="city">
  </div>

  <div class="form-group">
    <div class="btn-container">
      <input type="submit" value="Lancer la recherche">
    </div>
  </div>

</form>
