@import "src/scss/variables";

section {
  width: 50%;
}

.dates {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px;

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }

  .form-group:first-child {
    margin-bottom: unset
  }

  label {
    margin-right: 15px;
  }
}

button {
  text-transform: uppercase;
  background-color: $color-main-green;
}
