<!--<header>-->
<!--  <h1>Airbnb</h1>-->
<!--  <ul>-->
<!--    <li><a routerLink="home">Accueil</a></li>-->
<!--    <li ><a routerLink="admin-space">Espace administrateur</a></li>-->
<!--    <li ><a routerLink="user-space">Espace utilisateur</a></li>-->
<!--  </ul>-->
<!--</header>-->


<header>
  <div class="logo">
    Airbnb
  </div>

  <div class="search">
    <div class="icon-search-wrapper">
      <i class="fas fa-search"></i>
    </div>

    <input type="text" placeholder="Rechercher">
  </div>


  <div *ngIf="disconnected == true">
    <button routerLink="/signup">S'inscrire</button>
<!--    <button routerLink="/signin">Se connecter</button>-->
    <button (click)="onLogin()">Se connecter</button>
  </div>


  <div *ngIf="disconnected == false" class="shortcuts">
    <div class="shortcut">
      <img src="assets/images/profil.jpg" alt="">
    </div>
    <div class="shortcut">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="shortcut">
      <i class="fas fa-bell"></i>
    </div>
  </div>

</header>
