<!-- Current reservation-->
<section class="box-shadow">
  <h2>Réservation en cours</h2>
  <p class="label">Aucune réservation actuellement</p>
</section>

<!-- Reservation Historic-->
<section class="box-shadow">
  <div class="historic-reservation">
    <h2>Historique des réservations</h2>

    <!--    Reservation-->
    <div class="reservation"  routerLink="/real_estate_learn_more">
      <div class="real-estate">
        <div class="image-container">
          <img src="assets/images/real-estates/realestate.jpg" alt="">
        </div>
        <div class="content-text">
          <h3>Villa Massaï</h3>
          <p>Rue Cour Boisacq n°18</p>
          <p>1301 Bierges</p>
          <p>Belgique</p>
          <p>Avis : 8 étoiles</p>
        </div>
      </div>

      <div class="content-text">
        <h3>Séjour</h3>
        <p>Durée : 8 jours</p>
        <p>Arrivée : 8 avril 2021</p>
        <p>Départ : 16 avril 2021</p>
        <p>Prix de la réservation : 125 €</p>
      </div>
    </div>

    <!--    Reservation-->
    <div class="reservation">
      <div class="real-estate">
        <div class="image-container">
          <img src="assets/images/real-estates/realestate.jpg" alt="">
        </div>
        <div class="content-text">
          <h3>Villa Massaï</h3>
          <p>Rue Cour Boisacq n°18</p>
          <p>1301 Bierges</p>
          <p>Belgique</p>
          <p>Avis : 8 étoiles</p>
        </div>
      </div>

      <div class="content-text">
        <h3>Séjour</h3>
        <p>Durée : 8 jours</p>
        <p>Arrivée : 8 avril 2021</p>
        <p>Départ : 16 avril 2021</p>
        <p>Prix de la réservation : 125 €</p>
      </div>
    </div>

    <!--    Reservation-->
    <div class="reservation">
      <div class="real-estate">
        <div class="image-container">
          <img src="assets/images/real-estates/realestate.jpg" alt="">
        </div>
        <div class="content-text">
          <h3>Villa Massaï</h3>
          <p>Rue Cour Boisacq n°18</p>
          <p>1301 Bierges</p>
          <p>Belgique</p>
          <p>Avis : 8 étoiles</p>
        </div>
      </div>

      <div class="content-text">
        <h3>Séjour</h3>
        <p>Durée : 8 jours</p>
        <p>Arrivée : 8 avril 2021</p>
        <p>Départ : 16 avril 2021</p>
        <p>Prix de la réservation : 125 €</p>
      </div>
    </div>

    <!--    Reservation-->
    <div class="reservation">
      <div class="real-estate">
        <div class="image-container">
          <img src="assets/images/real-estates/realestate.jpg" alt="">
        </div>
        <div class="content-text">
          <h3>Villa Massaï</h3>
          <p>Rue Cour Boisacq n°18</p>
          <p>1301 Bierges</p>
          <p>Belgique</p>
          <p>Avis : 8 étoiles</p>
        </div>
      </div>

      <div class="content-text">
        <h3>Séjour</h3>
        <p>Durée : 8 jours</p>
        <p>Arrivée : 8 avril 2021</p>
        <p>Départ : 16 avril 2021</p>
        <p>Prix de la réservation : 125 €</p>
      </div>
    </div>

  </div>
</section>
