<div class="page">
  <div class="content-page">

    <form class="col-lg-4 offset-4" [formGroup]="realEstateForm" (ngSubmit)="onCreateRE()">

      <div class="form-field">


      <!--      Propriety information-->
      <div class="propriety-info">
        <h3>Information de votre propriété</h3>
            <div class="form-group">
              <label for="realEstateName">Nom du bien</label>
              <input type="text" class="form-control" id="realEstateName" formControlName="name">
            </div>
            <div class="form-group">
              <label for="type">Type de logement</label>
              <select name="type" id="type" formControlName="type">
                <option value="">--Please choose an option--</option>
                <option value="appartment">Appartement</option>
                <option value="house">Maison</option>
                <option value="hostel">Auberge</option>
                <option value="hotel">Hôtel</option>
                <option value="villa">Villa</option>
              </select>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description">
            </div>

          <div>
            <div class="form-group">
              <label for="bedroom">Nombre de chambre</label>
              <input type="text" class="form-control" id="bedroom" formControlName="bedroom">
            </div>
            <div class="form-group">
              <p>Jardin</p>
              <div class="radio-button">
                <div>
                  <input type="radio" id="yes" value=true checked formControlName="garden">
                  <label for="yes">Oui</label>
                </div>
                <div>
                  <input type="radio" id="no" value=false formControlName="garden">
                  <label for="no">Non</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="price">Prix</label>
              <input type="text" class="form-control" id="price" formControlName="price">
            </div>
            <div class="form-group">
              <label for="photo">Ajouter une photo</label>
              <input type="text" class="form-control" id="photo">
            </div>
      </div>
      </div>
      <!--      Localisation-->
      <div class="localisation">
        <h3>Adresse</h3>
        <div class="street-and-number">


        <div class="form-group">
          <label for="street">Rue</label>
          <input type="text" class="form-control" id="street" formControlName="street">
        </div>
        <div class="form-group streetNumber">
          <label for="streetNumber">Numéro</label>
          <input type="text" class="form-control" id="streetNumber" formControlName="streetNumber">
        </div>
        </div>
        <div class="form-group">
          <label for="city">Ville</label>
          <input type="text" class="form-control" id="city" formControlName="city">
        </div>
        <div class="form-group">
          <label for="postalCode">Code postal</label>
          <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
        </div>
        <div class="form-group">
          <label for="country">Pays</label>
          <input type="text" class="form-control" id="country" formControlName="country">
        </div>
      </div>
      </div>
      <!--      Submit-->
      <div class="btn-container">
        <input type="submit" value="Ajouter le logement">
      </div>

    </form>

  </div>
</div>
