<!--<div class="page">-->
<!--  <div class="content-page">-->

<!--    &lt;!&ndash;    Main content&ndash;&gt;-->
<!--    <div class="container-main">-->
<!--      <app-single-real-estate [realEstate]="realEstate"></app-single-real-estate>-->
<!--      <section class="box-shadow">-->
<!--        <app-add-comment [realEstateId]="id"></app-add-comment>-->
<!--        <h2>Avis des utilisateurs</h2>-->
<!--        <app-list-comments [comments]="comments"></app-list-comments>-->
<!--      </section>-->

<!--    </div>-->

<!--    &lt;!&ndash;    Side content&ndash;&gt;-->
<!--    <div class="right-side">-->
<!--      &lt;!&ndash;    pictures gallery&ndash;&gt;-->
<!--      <section class="photos-gallery-container box-shadow">-->
<!--        <h2>Gallerie photos</h2>-->
<!--        <div class="slider-photos">-->
<!--          <img src="assets/images/real-estates/realestate.jpg" alt="">-->
<!--          <img src="assets/images/real-estates/realestate.jpg" alt="">-->
<!--          <img src="assets/images/real-estates/realestate.jpg" alt="">-->
<!--          <img src="assets/images/real-estates/realestate.jpg" alt="">-->
<!--        </div>-->
<!--      </section>-->

<!--      &lt;!&ndash;    Owner info &ndash;&gt;-->
<!--      <section class="container-owner box-shadow">-->
<!--        <h2>Le propriétaire</h2>-->
<!--        <div class="image-infos">-->
<!--          <div class="image-container">-->
<!--            <img src="assets/images/profiles/emile.jpg" alt="">-->
<!--          </div>-->
<!--          <div class="personal-infos">-->
<!--            <div class="group-info">-->
<!--              <p class="label">Prénom et Nom</p>-->
<!--              <p>Sylvie Dupont</p>-->
<!--            </div>-->
<!--            <div class="group-info">-->
<!--              <p class="label">Téléphone</p>-->
<!--              <p>+32 487 123 456</p>-->
<!--            </div>-->
<!--            <div class="group-info">-->
<!--              <p class="label">Email</p>-->
<!--              <p>sylvie_dupont@email.com</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="btn-container" routerLink="/messenger">-->
<!--          <a>Contacter sur Airbnb</a>-->
<!--        </div>-->
<!--        <div class="other-propriety">-->
<!--          <p>Voir ses autres propriétés </p>-->
<!--          <p class="no-propriety">Sylvie Dupont ne possède pas d'autres propriétés</p>-->
<!--        </div>-->
<!--      </section>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
