<h2>Louer un bien </h2>

<div class="content">

  <form action="" [formGroup]="catalogForm" (ngSubmit)="onSearch()">
    <label for="pet-select">Que souhaitez-vous louer ?</label>

    <select id="pet-select" formControlName="type">
      <option value="">--Please choose an option--</option>
      <option value="dog">Appartement</option>
      <option value="cat">Maison</option>
    </select>

<!--    <label for="country">Pays</label>-->
<!--    <input id="country" type="text" formControlName="country">-->

<!--     <label for="city">Ville</label>-->
<!--    <input id="city" type="text" formControlName="city">-->

<!--    <label for="price">Fourchette de prix</label>-->
<!--    <input id="price" type="text" formControlName="price">-->

<!--    <label for="startDate">Période de location</label>-->
<!--    <p>Du</p>-->
<!--    <input id="startDate" type="text" formControlName="startDate">-->

<!--    <p>Au</p>-->
<!--    <label for="endDate">Période de location</label>-->
<!--    <input id="endDate" type="text" formControlName="endDate">-->

    <button type="submit">Lancer la recherche</button>
  </form>


    <h2>Résultat de la recherche</h2>

  <div *ngFor="let re of realEstates" class="result">
    <div class="realestate">
      <img src="../../../assets/images/realestate.jpg" alt="">
      <p class="description">{{re.name}}</p>
      <p>{{re.description}}</p>
      <p>{{re.address.street}} {{re.address.number}} {{re.address.country}}</p>
      <p>{{re.rating}}</p>
      <p>{{re.bedroom}} chambres - <span *ngIf="re.garden">1 jardin</span></p>
      <p>{{re.price}} €/j</p>
      <button routerLink="/real-estate-learn-more/{{re.id}}">Learn more</button>
      <button routerLink="/real-estate-booking/{{re.id}}">Réserver</button>
    </div>

  </div>

</div>
