<div *ngIf="comments" class="comments">
  <div *ngFor="let comment of comments" class="comment">

    <!--    Profile picture & username-->
    <div class="image-username">
      <div class="image-container">
        <img src="assets/images/profiles/emile.jpg" alt="">
      </div>
      <div class="username-date">
        <p class="username">Emile Cyimena</p>
        <p class="date"> le 8 avril 2021</p>
      </div>
    </div>

    <!--    Message & likes-->
    <div class="message-likes">
      <div class="message">
        <p>{{comment.text}}</p>
      </div>

      <!--      Actions-->
      <div class="wrapper-actions">
        <div class="likes-dislikes">
          <div class="likes">
            <i class="fas fa-thumbs-up"></i>
            <span>189</span>
          </div>
          <div class="dislikes">
            <span>4</span>
            <i class="fas fa-thumbs-down"></i>
          </div>
        </div>
        <!--    Answer-->
        <div class="answer">
          <a>Répondre</a>
        </div>
      </div>
    </div>

  </div>
</div>
