<div class="sorts">
  <div class="sort">
    <span class="sort-name" (click)="onSort('price')">Prix</span>
    <div class="arrows">
      <span class="material-icons" (click)="onSort('price')">expand_less</span>
      <span class="material-icons" (click)="onSort('price', false)">expand_more</span>
    </div>
  </div>

  <div class="sort">
    <span class="sort-name" (click)="onSort('rating')">Note</span>
    <div class="arrows">
      <span class="material-icons" (click)="onSort('rating')">expand_less</span>
      <span class="material-icons" (click)="onSort('rating', false)">expand_more</span>
    </div>
  </div>

  <div class="sort">
    <span class="sort-name" (click)="onSort('popularity')">Popularité</span>
    <div class="arrows">
      <span class="material-icons" (click)="onSort('popularity')">expand_less</span>
      <span class="material-icons" (click)="onSort('popularity', false)">expand_more</span>
    </div>
  </div>

  <div class="sort">
    <span class="sort-name" (click)="onSort('bedroom')">Chambres</span>
    <div class="arrows">
      <span class="material-icons" (click)="onSort('bedroom')">expand_less</span>
      <span class="material-icons" (click)="onSort('bedroom', false)">expand_more</span>
    </div>
  </div>
</div>
