<div class="search-user">
  <form class="form" [formGroup]="searchForm" (ngSubmit)="onSearchUser()" style="display: flex">
    <input type="text" placeholder="Trouver un utilisateur" formControlName="firstName">
    <div class="button-wrapper">
      <button><i class="fas fa-search"></i></button>
    </div>
  </form>
</div>

<div *ngIf="users" class="container-search-result">
  <div *ngFor="let user of users" class="result">
    <p style="cursor: pointer" (click)="onSelectUser(user.id)">{{user.firstName}} {{user.lastName}}</p>
  </div>
</div>
