<h2>Modifier un bien</h2>


 <div class="realestate">
      <img src="../../../../../assets/images/realestate.jpg" alt="">
    <button>Modifier l'image</button>
    </div>


<form action="">
  <label for="description">Description</label>
  <input id="description" type="text" value="Lorem lipsum">

  <label for="bedroom">Chambres</label>
  <input id="bedroom" type="text" value="Lorem lipsum">

  <label for="price">Prix par jour</label>
  <input id="price" type="text" value="255">

  <button>Enregistrer</button>
</form>
