<div class="page">
  <div class="content-page">
    <!--    CONVERSATIONS -->
    <div class="conversations">

      <h2>Conversations</h2>

      <div class="conversation">
        <div class="picture-container">
          <img src="assets/images/profiles/emile.jpg" alt="">
        </div>
        <div class="wrapper">
          <p class="interlocutor">Amaury Cyemezo</p>
          <p class="last-message">Désolé je ne peux pas venir</p>
        </div>
      </div>

      <div class="conversation">
        <div class="picture-container">
          <img src="assets/images/profiles/emile.jpg" alt="">
        </div>
        <div class="wrapper">
          <p class="interlocutor">Amaury Cyemezo</p>
          <p class="last-message">Désolé je ne peux pas venir</p>
        </div>
      </div>

      <div class="conversation">
        <div class="picture-container">
          <img src="assets/images/profiles/emile.jpg" alt="">
        </div>
        <div class="wrapper">
          <p class="interlocutor">Amaury Cyemezo</p>
          <p class="last-message">Désolé je ne peux pas venir</p>
        </div>
      </div>

      <div class="conversation">
        <div class="picture-container">
          <img src="assets/images/profiles/emile.jpg" alt="">
        </div>
        <div class="wrapper">
          <p class="interlocutor">Amaury Cyemezo</p>
          <p class="last-message">Désolé je ne peux pas venir</p>
        </div>
      </div>

      <div class="conversation">
        <div class="picture-container">
          <img src="assets/images/profiles/emile.jpg" alt="">
        </div>
        <div class="wrapper">
          <p class="interlocutor">Amaury Cyemezo</p>
          <p class="last-message">Désolé je ne peux pas venir</p>
        </div>
      </div>

    </div>

    <!--    MESSAGES & FORM -->
    <div class="messages-form">


      <!--    MESSAGES -->
      <div class="messages">

        <div class="row-other-message">
          <div class="other-message">
            <div class="picture-container">
              <img src="assets/images/profiles/emile.jpg" alt="">
            </div>
            <div class="message-text-container">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque autem beatae blanditiis
                consequuntur esse ex expedita facilis fugiat impedit laudantium magni nisi provident quod rerum saepe,
                temporibus tenetur velit.</p>
            </div>
          </div>
        </div>


        <div class="row-own-message">
          <div class="own-message">
            <div class="message-text-container">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque autem beatae blanditiis
                consequuntur esse ex expedita facilis fugiat impedit laudantium magni nisi provident quod rerum saepe,
                temporibus tenetur velit.</p>

            </div>

            <p class="seen"><i class="fas fa-check-circle"></i>Vu le 25/04/2020</p>

          </div>
        </div>

      </div>

      <div class="form">
        <textarea id="story" name="story" rows="1" placeholder="Votre message ..."></textarea>
        <div class="button-wrapper">
          <button><i class="fas fa-paper-plane"></i></button>
        </div>

      </div>

    </div>
  </div>
</div>
