
* {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
}

.content-page {
  display: flex;
  border: solid #dedbdb 1px;
  width: 1000px;
  height: 800px;
  background-color: white;
}

h2 {
  padding: 20px 10px;
  border-bottom: solid #dedbdb 1px;
}

// CONVERSATIONS

.conversations {
  width: 30%;
  border-right: solid #dedbdb 1px;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;

  .picture-container {
    margin-right: 20px;
    width: 40px;

    img {
      width: 100%;
      border-radius: 100%;
    }
  }
}

.conversation:hover {
  background-color: #e8eff5;
}

.interlocutor {
  font-weight: bold;
}

.last-message {
  font-size: 12px;
}

// MESSAGES & FORM

.messages-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  padding-bottom: 2px;
}

// MESSAGES

.row-other-message, .row-own-message {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}

.row-own-message {
  justify-content: flex-end;
}

// INTERLOCUTOR MESSAGE

//  wrapper comprends l'image de l'interlocuteur + contenu du message
.other-message {
  display: flex;

  .picture-container {
    margin-right: 15px;
    display: flex;
    align-items: flex-end;

    img {
      width: 20px;
      border-radius: 100%;
    }
  }

  .message-text-container {
    width: 50%;
    background-color: #0ba9f7;
  }
}

// OWN MESSAGE

.own-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .message-text-container {
    width: 60%;
    background-color: #808080;
  }
}

.seen {
  margin-top: 3px;
  padding-right: 3px;
  font-size: 11px;
  color: #373737;

  i {
    margin-right: 3px;
    color: green;
  }
}

.message-text-container {
  color: white;
  padding: 10px;
  border-radius: 5px;
}

// FORM

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  textarea {
    width: 92%;
    padding: 10px;
  }

  div {

    button {
      border: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3px;
      margin-bottom: 2px;
      padding: 7px;
      color: white;
      background-color: #0ba9f7;
      border-radius: 100%;
      cursor: pointer;
    }
  }

}
