<!--    Personal information-->
<section class="box-shadow">
  <div class="personal-infos">


  <h2>Informations personnelles</h2>
  <div class="group-info">
    <p class="label">Prénom</p>
    <p>Emile</p>
  </div>
  <div class="group-info">
    <p class="label">Nom</p>
    <p>Cyimena</p>
  </div>
  <div class="group-info">
    <p class="label">Date de naissance</p>
    <p>8 octobre 1992</p>
  </div>
  <!--    Localisaton-->
  <div class="localisation">
    <div class="group-info">
      <p class="label">Rue</p>
      <p>Rue Cour Boisacq n°18</p>
    </div>
    <div class="group-info">
      <p class="label">Code postal</p>
      <p>1301</p>
    </div>
    <div class="group-info">
      <p class="label">Ville</p>
      <p>Bierges</p>
    </div>
    <div class="group-info">
      <p class="label">Pays</p>
      <p>Belgique</p>
    </div>
  </div>

  <div class="btn-container">
    <p>Modifier vos informations</p>
  </div>
  </div>

  <div class="picture-profile">
    <div class="image-container">
      <img src="assets/images/profiles/emile.jpg" alt="">
    </div>

    <div class="btn-container">
      <p>Changer de photo</p>
    </div>
  </div>
</section>
