.page {
  display: flex;
  justify-content: center;
}

.content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

// FORMULAIRE

.group {
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    top: 10px;
    background-color: white;
    width: fit-content;
    margin-left: 10px;
    padding: 0 5px;
  }

  input, select {
    padding: 15px;
  }

  button {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }

}

// RESULTAT DE LA RECHERCHE

.realestate {
  display: flex;
  width: 800px;
  margin-bottom: 30px;

  img {
    width: 300px;
    margin-right: 30px;
  }

  .wrapper {
    padding: 20px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

}
