
<form class="col-lg-4 offset-4" [formGroup]="realEstateForm" (ngSubmit)="onCreateRE()">

  <h3>Information de votre propriété</h3>
  <label for="realEstateName">Nom du bien</label>
  <input type="text" class="form-control" id="realEstateName" formControlName="name">

  <label for="type"></label>
  <select name="type" id="type" formControlName="type">
    <option value="">--Please choose an option--</option>
    <option value="appartment">Appartement</option>
    <option value="house">Maison</option>
    <option value="hostel">Auberge</option>
    <option value="hotel">Hôtel</option>
    <option value="villa">Villa</option>
  </select>

  <label for="description">Description</label>
  <input type="text" class="form-control" id="description" formControlName="description">

  <label for="bedroom">Nombre de chambre</label>
  <input type="text" class="form-control" id="bedroom" formControlName="bedroom">

  <p>Jardin :</p>

  <div>
    <input type="radio" id="yes"  value=true checked formControlName="garden">
    <label for="yes">Oui</label>
  </div>

  <div>
    <input type="radio" id="no" value=false formControlName="garden">
    <label for="no">Non</label>
  </div>


  <label for="price">Prix</label>
  <input type="text" class="form-control" id="price" formControlName="price">

  <h3>Adresse</h3>

  <label for="street">Rue</label>
  <input type="text" class="form-control" id="street" formControlName="street">

  <label for="streetNumber">Numéro</label>
  <input type="text" class="form-control" id="streetNumber" formControlName="streetNumber">

  <label for="city">Ville</label>
  <input type="text" class="form-control" id="city" formControlName="city">

  <label for="postalCode">Code postal</label>
  <input type="text" class="form-control" id="postalCode" formControlName="postalCode">

  <label for="country">Pays</label>
  <input type="text" class="form-control" id="country" formControlName="country">

  <label for="photo">Ajouter une photo</label>
  <input type="text" class="form-control" id="photo">


  <button type="submit">Enregistrer</button>
</form>


