<div class="page">
  <div class="content-page">
    <h1>Réservations</h1>
    <!--    In progress-->
    <section>
      <h2>En cours</h2>
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>
            <div class="label-icon">
              <div>Résidence</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Début</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Fin</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Nuits</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Prix</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Paiement</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Villa Massaï</td>
          <td>01-07-2021</td>
          <td>14-07-2021</td>
          <td>13</td>
          <td>€ 2020.21</td>
          <td><span class="ticket">À payer</span></td>
        </tr>
        </tbody>
      </table>
    </section>
    <!--History-->
    <section>
      <h2>Historique</h2>
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>
            <div class="label-icon">
              <div>Résidence</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Début</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Fin</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Nuits</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Prix</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
          <th>
            <div class="label-icon">
              <div>Votre note</div>
              <div class="arrows">
                <span class="material-icons">expand_less</span>
                <span class="material-icons">expand_more</span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Villa Massaï</td>
          <td>01-07-2021</td>
          <td>14-07-2021</td>
          <td>13</td>
          <td>€ 2020.21</td>
          <td>8.5</td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
