<div class="page">


  <div class="content-page">
    <h1>Inscription</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onCreateUser()">
      <div class="personal-infos">
        <h2>Informations personnelles</h2>

        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input id="firstName" type="text" formControlName="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Nom</label>
          <input id="lastName" type="text" formControlName="lastName">
        </div>

        <div class="form-group">
          <label for="birthDate">Date de naissance</label>
          <input id="birthDate" type="text" formControlName="birthDate">
        </div>


        <div class="street-and-number">


          <div class="form-group">
            <label for="street">Rue</label>
            <input id="street" type="text" formControlName="street">
          </div>

          <div class="form-group">
            <label for="streetNumber">Numéro</label>
            <input id="streetNumber" type="text" formControlName="streetNumber">
          </div>

          <div class="form-group">
            <label for="mailBox">Boite</label>
            <input id="mailBox" type="text" formControlName="mailBox">
          </div>
        </div>
        <div class="postal-code-city-country">


          <div class="form-group">
            <label for="postalCode">Code postal</label>
            <input id="postalCode" type="text" formControlName="postalCode">
          </div>

          <div class="form-group">
            <label for="city">Ville</label>
            <input id="city" type="text" formControlName="city">
          </div>

          <div class="form-group">
            <label for="country">Pays</label>
            <input id="country" type="text" formControlName="country">
          </div>
        </div>
      </div>

      <div class="auth-info">
        <h2>Authentification</h2>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="text" formControlName="email">
        </div>

        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input id="password" type="text" formControlName="password">
        </div>
      </div>

      <div class="btn-container">
        <input type="submit" value="S'inscrire">
      </div>

    </form>
  </div>

</div>
