// Container

.street-and-number, .postal-code-city-country {
  display: flex;
}

.personal-infos {
  margin-bottom: 15px;
}

// General

h1 {
  margin-bottom: 30px;
}

// Inputs

input {
  width: 150px;
}

#street, #streetNumber, #postalCode, #city{
  margin-right: 15px;
}

#streetNumber, #postalCode, #mailBox {
  width: 60px;
}

// Buttons

.btn-container {
  margin-top: 15px;
  width: fit-content;

  input {
    margin-right: 0;
  }
}

