<section *ngFor="let realEstate of realEstates" class="real-estate">
  <div class="header">
    <div class="title-ticket">
      <h2>{{realEstate.name}}</h2>
      <span class="ticket">En cours de réservation</span>
    </div>
    <div class="delete">
      <span class="material-icons">clear</span>
    </div>
  </div>
  <div class="content">
    <div class="container-image">
      <img src="assets/images/real-estates/realestate.jpg" alt="">
    </div>
    <!--    Reservations & amounts-->
    <div class="reservations-amounts">
      <h3>Réservations et montants</h3>
      <ul>
        <li><span>Réservations totales</span><span class="value">5</span></li>
        <li><span>Prix par nuit</span><span class="value">€ 79</span></li>
        <li><span>Revenus générés</span><span class="value">€ 1148.95</span></li>
      </ul>
    </div>
    <!--    Comments & notes-->
    <div class="comment-notes">
      <h3>Commentaires et notes</h3>
      <ul>
        <li><span>Commentaires</span><span class="value">198</span></li>
        <li><span>Note moyenne</span><span class="value">8.3</span></li>
        <li><span>Meilleure note</span><span class="value">10</span></li>
        <li><span>Note la plus basse</span><span class="value">4</span></li>
      </ul>
    </div>
  </div>
  <div class="actions">
    <button routerLink="/user/real_estates/{{realEstate.id}}">Voir</button>
    <button>Désactiver</button>
  </div>
</section>
