<section class="wrapper">
  <h2>Résultat de la recherche</h2>
  <div *ngIf="realEstates">


    <div *ngFor="let realEstate of realEstates" class="real-estate box-shadow">
      <!--    Row information-->
      <div class="image-main-info">
        <div class="image-container">
          <img src="../../../../assets/images/real-estates/realestate.jpg" alt="">
        </div>
        <div class="wrapper-text">
          <h3>{{realEstate.name}}</h3>
          <div class="info-group">
            <h4><i class="fas fa-home"></i>Caractéristiques</h4>
            <ul>
              <li>{{realEstate.bedroom}} chambres</li>
              <li>{{realEstate.hasGarden}} Jardin</li>
            </ul>
          </div>
          <div class="info-group">
            <h4><i class="fas fa-map-marker-alt"></i>Localisation</h4>
            <p><span class="label">Rue</span>{{realEstate.address.street}} n° {{realEstate.address.streetNumber}}</p>
            <p><span class="label">Ville</span>{{realEstate.address.city}}</p>
            <p><span class="label">Pays</span>{{realEstate.address.country}}</p>
          </div>

          <div class="info-group">
            <h4><i class="fas fa-tag"></i>Tarif</h4>
            <p class="price">{{realEstate.price}} €/j</p>
          </div>
        </div>
      </div>
      <!--    Descriptions & buttons-->
      <div class="info-group description">
        <h4><i class="fas fa-info"></i>Description</h4>
        <p>{{realEstate.description}}</p>
      </div>

      <div class="footer-real-estate">
        <div class="btn-container" routerLink="/real_estate_learn_more/{{realEstate.id}}">
          <a>Learn More</a>
        </div>
        <div class="btn-container" routerLink="/real_estate_booking">
          <a>Louer</a>
        </div>
      </div>
    </div>

  </div>
</section>

