@import "src/scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

h3 {
  font-weight: normal;
  flex: 1;
}

app-sort-view {
  flex: 2.5;
}

.real-estates {
  background-color: white;
}

.real-estate {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.container-image {
  width: 33%;
}

.header {
  font-size: 12px;
}

h4 {
  font-size: 18px;
  margin-right: 5px;
}

.ticket {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 5px;
  background-color: #732DD9;
  border-radius: 3px;
  font-size: 10px;
  //background-color: #FF5722;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
}

.info-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    align-items: center;
  }

  .material-icons {
    margin-right: 10px;
    font-size: 20px;
  }

  .star, .score {
    color: $color-main-yellow;
  }

  .score {
    font-weight: bold;
    margin-right: 5px;
    font-size: 16px;
  }

  .price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $color-main-blue;
  }

  .by-day {
    font-size: 12px;
    font-weight: normal;
    color: $color-main-blue;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px $color-white-dark;
}

.left {
  display: flex;
}

.right {
  display: flex;
  align-items: center;
}

.right img {
  width: 24px;
}

button {
  padding: 2px 10px;
  border-radius: 3px;
  font-size: 12px;
}

button:first-child {
  margin-right: 15px;
  text-transform: uppercase;
}

.more-time {
  background-color: $color-grey-light;

  span {
    color: $color-main-green;
  }
}

a {
  color: dodgerblue;
}
