

#menu {

  width: fit-content;
  transition: 0.4s;
  border: solid 1px;
  position: relative;
}

#menu:hover {
  //background-color: red;
}

li {
  list-style: none;
  //transition: 2s;
}

span {
  //transition: 2s;
}
