@import "src/scss/variables";

#container-menu {
  position: relative;
}

menu {
  background-color: $color-main-blue;
  padding: 20px;
  position: fixed;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  span a, span {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .material-icons {
    margin-right: 15px;
  }

  .logout {
    color: $color-main-red;
  }
}
