@import "src/scss/variables";

#menu {
  position: absolute;
  left: 0;
  background-color: $color-main-blue;
  padding: 20px;
}

button {
  background-color: $color-main-green;
  border-radius: 3px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  span a, span {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .material-icons {
    margin-right: 15px;
  }

  .logout-icon {
    color: $color-main-red;
  }

  .logout {
    cursor: pointer;
  }
}
