<div id="container-menu">
  <menu id="menu">
    <ul id="ul">
      <li>
        <span class="material-icons">home</span>
        <span><a routerLink="home">Accueil</a></span>
      </li>
      <li>
        <span class="material-icons">account_circle</span>
        <span><a routerLink="home">Votre compte</a></span>
      </li>
      <li>
        <span class="material-icons">view_list</span>
        <span><a routerLink="home">Résumé</a></span>
      </li>
      <li>
        <span class="material-icons">chat</span>
        <span><a routerLink="home">Messagerie</a></span>
      </li>
      <li>
        <span class="material-icons">villa</span>
        <span><a routerLink="home">Vos résidences</a></span>
      </li>
      <li>
        <span class="material-icons">auto_stories</span>
        <span><a routerLink="home">Réservations</a></span>
      </li>
      <li>
        <span class="material-icons">receipt_long</span>
        <span><a routerLink="home">Factures</a></span>
      </li>
      <li>
        <span class="material-icons">watch_later</span>
        <span><a routerLink="home">À consulter plus tard</a></span>
      </li>
      <li>
        <span class="material-icons">settings</span>
        <span><a routerLink="home">Paramètres</a></span>
      </li>

      <li>
        <span class="logout material-icons">logout</span>
        <span><a routerLink="home">Se déconnecter</a></span>
      </li>
    </ul>
  </menu>
</div>
