<div id="menu">
  <button routerLink="/home">Trouver un logement</button>
  <ul *ngIf="isAuthenticated" id="ul">
    <li>
      <span class="material-icons">home</span>
      <span><a routerLink="/home">Accueil</a></span>
    </li>
    <li>
      <span class="material-icons">account_circle</span>
      <span><a routerLink="/user/account">Votre compte</a></span>
    </li>
    <li>
      <span class="material-icons">view_list</span>
      <span><a routerLink="/user/resume">Résumé</a></span>
    </li>
    <li>
      <span class="material-icons">chat</span>
      <span><a routerLink="/user/messenger">Messagerie</a></span>
    </li>
    <li>
      <span class="material-icons">villa</span>
      <span><a routerLink="/user/real_estates">Vos résidences</a></span>
    </li>
    <li>
      <span class="material-icons">auto_stories</span>
      <span><a routerLink="/user/bookings">Réservations</a></span>
    </li>
    <li>
      <span class="material-icons">receipt_long</span>
      <span><a routerLink="/user/bills">Factures</a></span>
    </li>
    <li>
      <span class="material-icons">watch_later</span>
      <span><a routerLink="/user/see_later">À consulter plus tard</a></span>
    </li>
    <li>
      <span class="material-icons">settings</span>
      <span><a routerLink="/user/parameter">Paramètres</a></span>
    </li>

    <li>
      <span class="logout-icon material-icons">logout</span>
      <span class="logout" (click)="onLogout()">Se déconnecter</span>
    </li>
  </ul>

  <ul *ngIf="!isAuthenticated">
    <li>
      <span class="material-icons">home</span>
      <span><a routerLink="/home">Accueil</a></span>
    </li>
    <li>
      <span class="material-icons">watch_later</span>
      <span><a routerLink="see_later">À consulter plus tard</a></span>
    </li>
  </ul>
</div>
