section {
  background-color: unset;
  border: unset;
}

.header{
  display: flex;
  align-items: center;
  height: 50px;
}

h3 {
  font-weight: normal;
}

form {
  padding: 20px;
  background-color: white;
}

.form-group {
  margin-bottom: 30px;
}

label, .label {
  font-weight: bold;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sub-group {
display: flex;
  align-items: center;

  label {
    font-weight: normal;
    font-size: 14px;
    margin: 0 10px 0 0;
  }

  input {
    width: 80px;
  }

}

button {
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
}
