.components {
  display: flex;
  justify-content: space-between;
}

section{
  background-color: unset;
  border: unset;
}

.search-criteria {
  flex: 1;
}

.search-result {
  flex: 2;
}

.header {
  display: flex;
  height: 50px;
  align-items: center;

  h3 {
    font-weight: normal;
  }
}

.search-result .header {
  justify-content: space-between;

  h3 {
    flex: 1;
  }

  app-sort-view {
    flex: 2.5;
  }
}

h2 {
  text-align: center;
}


