<h2>Liste de vos biens</h2>


     <div class="realestate">
      <img src="../../../../../assets/images/realestate.jpg" alt="">
      <p class="description"> Lorem lipsum</p>
      <p>5 chambres -  1 salle de bain - 1 jardin</p>
      <p>300€/j</p>
      <button routerLink="/user-space/real-estate-update/1">Modifier</button>
    </div>



     <div class="realestate">
      <img src="../../../../../assets/images/realestate.jpg" alt="">
      <p class="description"> Lorem lipsum</p>
      <p>5 chambres -  1 salle de bain - 1 jardin</p>
      <p>300€/j</p>
      <button>Modifier</button>
    </div>
