
.star{
  font-size: 1.2em;
  color: #9a9a98;
}
.filled{
  color: #c1a516;
}

div{
  padding-bottom: 0;
  margin-bottom: 0;
}

pre{
  font-family: 'Roboto', sans-serif;
  font-weight:200;
  padding-bottom: 0;
  margin-bottom: 0;
}
