
<div class="content">

  <h2>Ajouter un bien immobilier</h2>

  <div *ngFor="let realEstate of realEstates" class="real-estate">
    <div>{{realEstate.label}}</div>
    <button routerLink="real-estate-detail/{{realEstate.id}}">Détails</button>
    <div><button (click)="onDeleteRealEstate(realEstate.id)">Supprimer</button></div>
  </div>

  <form class="col-lg-4 offset-4" [formGroup]="realEstateForm" (ngSubmit)="onCreateRealEstate()">
    <div class="form-group">
      <label for="label">Label</label>
      <input type="text" class="form-control" id="label" formControlName="label">
    </div>

    <div class="form-group">
      <label for="label">Prix</label>
      <input type="text" class="form-control" id="price" formControlName="price">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="realEstateForm.invalid || loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Enregistrer</button>
  </form>

</div>
