<div class="content">
  <h2>Inscription</h2>

  <form [formGroup]="signUpForm" (ngSubmit)="onCreateUser()">
    <label for="firstName">Prénom</label>
    <input id="firstName" type="text" formControlName="firstName">

    <label for="lastName">Nom</label>
    <input id="lastName" type="text" formControlName="lastName">

    <label for="birthDate">Date de naissance</label>
    <input id="birthDate" type="text" formControlName="birthDate">

    <p>Adresse</p>

    <label for="street">Rue</label>
    <input id="street" type="text" formControlName="street">

     <label for="streetNumber">Numéro</label>
    <input id="streetNumber" type="text" formControlName="streetNumber">

    <label for="postalCode">Code postal</label>
    <input id="postalCode" type="text" formControlName="postalCode">

    <label for="city">Ville</label>
    <input id="city" type="text" formControlName="city">

    <label for="country">Pays</label>
    <input id="country" type="text" formControlName="country">


     <label for="email">Email</label>
    <input id="email" type="text" formControlName="email">

    <label for="password">Mot de passe</label>
    <input id="password" type="text" formControlName="password">

    <button (click)="onCreateUser()">S'inscrire</button>
  </form>
</div>

