@import "scss/variables";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $color-main-black;
}

body {
  background-color: #F8F8F8;
  //position: absolute;
}

section {
  background-color: white;
  border: solid 1px $color-white-dark;
}

.page {
  display: flex;
  justify-content: center;
}

.content-page {
  display: flex;
  flex-direction: column;
  width: 1250px;
  margin-top: 50px;
}

section {
  padding: 20px;
  border-radius: 5px;
}

// General

h2 {
  margin-bottom: 15px;
}

li {
  list-style: none;
}

// images

img {
  display: flex;
  width: 100%;
}

// Shadows

.box-shadow {
  box-shadow: 0 0 5px #e3e2e2;
  border: solid 1px #d6d4d4;
}

// link

.link {
  width: fit-content;

  a {
    color: $color-main-green;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  a:hover {
    color: darkgreen;
  }
}

// Buttons

button {
  border: unset;
  padding: 10px 15px;
  cursor: pointer;
  background-color: $color-main-blue;
  color: white;
}

//
//.btn-container {
//  background-color: $color-main-green;
//  padding: 10px;
//  cursor: pointer;
//  width: fit-content;
//  margin-top: 20px;
//  text-align: center;
//
//  a {
//    color: white;
//  }
//
//  input {
//    padding: 0;
//    border: unset;
//    background-color: unset;
//    color: white;
//    width: 100%;
//    font-size: 16px;
//    cursor: pointer;
//  }
//}
//
//.btn-container:hover {
//  background-color: darkgreen;
//}

// Forms

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

label {
  margin-bottom: 5px;
}

input, select {
  padding: 8px;
}
