<div class="page">
  <div class="content-page">
    <form [formGroup]="realEstateForm" (ngSubmit)="onCreateRE()">
      <div class="form-field">
        <!--      Propriety information-->
        <section class="propriety-info">
          <h3>Information de la résidence</h3>
          <div class="form-group">
            <label for="realEstateName">Nom du bien</label>
            <input type="text" id="realEstateName" formControlName="name">
          </div>
          <div class="form-group">
            <label for="type">Type de logement</label>
            <select name="type" id="type" formControlName="type">
              <option value="">--Please choose an option--</option>
              <option value="appartment">Appartement</option>
              <option value="house">Maison</option>
              <option value="hostel">Auberge</option>
              <option value="hotel">Hôtel</option>
              <option value="villa">Villa</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" formControlName="description">
          </div>

          <div>
            <div class="form-group">
              <label for="bedroom">Nombre de chambre</label>
              <input type="text" id="bedroom" formControlName="bedroom">
            </div>
            <div class="form-group">
              <p>Jardin</p>
              <div class="radio-button">
                <div>
                  <input type="radio" id="yes" value=true checked formControlName="garden">
                  <label for="yes">Oui</label>
                </div>
                <div>
                  <input type="radio" id="no" value=false formControlName="garden">
                  <label for="no">Non</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="price">Prix</label>
              <input type="text" id="price" formControlName="price">
            </div>
            <div class="form-group">
              <label for="photo">Ajouter une photo</label>
              <input type="text" id="photo">
            </div>
          </div>
        </section>

        <!--      Localisation-->
        <section class="localisation">
          <h3>Adresse de la résidence</h3>
          <div class="street-and-number">
            <div class="form-group">
              <label for="street">Rue</label>
              <input type="text" id="street" formControlName="street">
            </div>
            <div class="form-group streetNumber">
              <label for="streetNumber">Numéro</label>
              <input type="text" id="streetNumber" formControlName="streetNumber">
            </div>
          </div>
          <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" id="city" formControlName="city">
          </div>
          <div class="form-group">
            <label for="postalCode">Code postal</label>
            <input type="text" id="postalCode" formControlName="postalCode">
          </div>
          <div class="form-group">
            <label for="country">Pays</label>
            <input type="text" id="country" formControlName="country">
          </div>
        </section>
        <!--        Purpose-->
        <section>
          <h2>Vos objectifs</h2>
          <p>Que souhaitez-vous faire de la résidence</p>
        </section>
      </div>
      <!--      Submit-->
      <button>Ajouter la résidence</button>
    </form>

  </div>
</div>
