<!--  Locations-->
<section>
  <div class="header">
    <h2>Locations</h2>
  </div>
  <div class="info-group">
    <span class="label">En cours</span>
    <span class="value">Aucun</span>
  </div>
  <div class="info-group">
    <span class="label">À venir</span>
    <span class="value">1</span>
  </div>
  <div class="info-group">
    <span class="label">Historique des locations</span>
    <span class="value">10</span>
  </div>
</section>
<!--Residences-->
<section>
  <div class="header">
    <h2>Vos résidences</h2>
  </div>
  <div class="info-group">
    <span class="label">Total</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">En location</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le plus visité</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le moins visité</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le mieux noté</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le moins bien noté</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le plus commenté</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le plus onéreux</span>
    <span class="value">Value</span>
  </div>
  <div class="info-group">
    <span class="label">Le moins onéreux</span>
    <span class="value">Value</span>
  </div>
</section>
<!--Incomes-->
<section>
  <div class="header">
    <h2>Revenus</h2>
  </div>
  <div class="info-group">
    <span class="label">Moyenne par jour</span>
    <span class="value">Aucun</span>
  </div>
  <div class="info-group">
    <span class="label">Moyenne par mois</span>
    <span class="value">Aucun</span>
  </div>
  <div class="info-group">
    <span class="label">Moyenne par an</span>
    <span class="value">Aucun</span>
  </div>
  <div class="info-group">
    <span class="label">Le plus rentable</span>
    <span class="value">Aucun</span>
  </div>
  <div class="info-group">
    <span class="label">Le moins rentable</span>
    <span class="value">Aucun</span>
  </div>
</section>
